// colores

$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$gray: #4a4a4a;
$lightgray: #979797; 
$lightgreen: #65b54b;

// fuentes

$font-title: "Alegreya", serif;

// placeholders

%base-title {
  font-family: $font-title;
  color: $dark-green-title;
  font-weight: 900;
} 