

body{
    background-color: #fffbf7;
}

h1{
    color: #025157;
}

.subtitulo{
    color: #46484c;
}

.promo{
    color: #8b8b8bcc;
}


form .btn-try{
    color: #fff;
    background-color: #025157;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    margin-left: 0px;
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 15px;
}

form .inp-email{
    box-sizing: border-box;
    margin-right: 0px;
    height: 55px;
    border-color: #b6b6b6;
    border-style: solid;
    border-width: .5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

